body {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.game-cont-land {
    height: 100vh;
    background-color: blue;
}

.game-cont-pot {
    height: 100vh;
    background-color: black;
}