body {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.game-cont-pot {
    height: 100vh;
    background-color: black;
}

#text-cont-game {
    padding-top: 30%;
    padding-left: 20%;
}

.game-cont-land {
    height: 100vh;
    background-color: grey;
    margin-bottom: 10%;
}

.game-frame {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#button-cont {
    margin-top: 40%;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .game-cont-pot {
        display: block;
    }

    #button-cont {
        margin-top: 152vw;
        margin-left: 32%;
    }

    /* show it on small screens */
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
    .game-cont-pot {
        display: none;
    }

    #button-cont {
        margin-top: 36.5vw;
        margin-left: 43.5%;
    }

    /* hide it elsewhere */
}