#rules-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 23%;
    width: 45%;
    height: 35%;
    text-align: left;
}

ul {
    padding-left: 0;
}

#rules-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-left: 45%;
}

#rules-cont2 {
    width: 23%;
    margin-top: 24%;
    margin-left: 72%;
}

.tilt-img {
    width: 20%;
    height: 20%;
}

.blink_me {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}




@media (max-width:480px) {

    #rules-cont {
        margin-top: 18%;
        margin-left: 19%;
        width: 50%;
        height: 23%;
        padding: 2%;
    }

    #rules-button {
        width: 20%;
        margin-top: 92%;
        margin-left: 30%;
    }

    .tilt-img {
        width: 40%;
        height: 40%;
    }

    #rules-cont2 {
        width: 55%;
        margin-top: 106vw;
        margin-left: 18%;
    }
}